.contact-page {
  font-family: Arial, sans-serif;
  position: relative; /* Ensure .info-section is positioned relative to this */
}

.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 600px; /* Limit the maximum height */
  overflow: hidden; /* Hide any overflow */
  position: relative; /* Create a stacking context */
  z-index: 1; /* Ensure it is behind the .info-section */
  width: 100%;
}

.photo-section img {
  padding-top: 200px;
  padding-left:35px;
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  max-height: 100%; /* Ensure the image doesn't exceed its container height */
  object-fit: contain; /* Maintain aspect ratio while fitting within the container */
}

.info-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  z-index: 2; /* Ensure .info-section is above the .photo-section */
  background: #003049; /* Optional: add background for better visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   /* Optional: add shadow for better contrast */
}

.contactos,
.ubicacion {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -100px;
  z-index: 2;
  background: white;
}

.contactos h3,
.ubicacion h3 {
  font-size: 20px;
  color: #003049;
}

.google-maps {
  width: 100%;
  height: 450px;
  border: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .info-section {
    flex-direction: column; /* Stack sections vertically on smaller screens */
    align-items: center; /* Center align items */
  }
  
  .contactos,
  .ubicacion {
    width: 100%; /* Full width on smaller screens */
    margin-top: 20px; /* Adjust margin */
  }
}
