@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.company-name-link {
  text-decoration: none;
  color: inherit;
}

.company-name-link:hover {
  text-decoration: underline; 
}

.home-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.home-background {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 41px;
  max-width: 100vw;
  min-height: 85vh; 
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  object-fit: cover;
  z-index: -1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%; 
}

.logo img {
  width: 70%;
  height: auto;
  max-width: 100%; 
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  font-size: 3vw; 
  font-weight: 700;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%; 
  z-index: 1; 
}

.slogan p {
  margin: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70vh; 
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.carousel-image.visible {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.feature-box {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(30% - 20px); 
  margin: 20px 10px;
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-box h3 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.feature-box p {
  color: #666;
  margin-bottom: 15px; 
  font-family: 'Roboto', sans-serif; 
}

.feature-box i {
  font-size: 3rem;
  color: #007bff; 
  margin-bottom: 10px;
}

.products-section {
  padding: 60px 40px; 
  background-color: #f9f9f9;
  text-align: center;
}

.products-section h2 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 2.5rem; 
  margin-bottom: 30px;
  font-weight: 700;
  color: #333; 
}

.products-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.product {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(45% - 20px); 
  box-sizing: border-box; 
  margin: 10px; 
  text-align: center; 
}

.product h3 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.75rem; 
  margin-bottom: 10px;
  font-weight: 600;
}

.product p {
  margin-bottom: 10px;
  color: #333;
  font-family: 'Roboto', sans-serif; 
}

@media (max-width: 768px) {
  .slogan {
    font-size: 4vw; 
  }

  .carousel-button {
    font-size: 3vw;
  }

  .features-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .feature-box {
    width: 80%;
  }

  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 80%;
  }
}
